# Filename: gitignore
# Note:     A gitignore for this repository (duh).

# Ignore everything!
*

# But descend into directories.
!*/

# And mind the whitelist!
!.gitignore
!readme.md

!/algorithms/warmup/000_simple_array_sum/java/*.java
!/algorithms/warmup/001_a_very_big_sum/java/*.java
