# Filename: gitignore
# Note:     A gitignore for this repository (duh).

# Ignore everything!
*

# But descend into directories.
!*/

# And mind the whitelist!
!.gitignore
!readme.md

!/skills/algorithms/warmup/a_very_big_sum/java/*.java
!/skills/algorithms/warmup/birthday_cake_candles/java/*.java
!/skills/algorithms/warmup/compare_the_triplets/java/*.java
!/skills/algorithms/warmup/diagonal_difference/java/*.java
!/skills/algorithms/warmup/mini_max_sum/java/*.java
!/skills/algorithms/warmup/plus_minus/java/*.java
!/skills/algorithms/warmup/simple_array_sum/java/*.java
!/skills/algorithms/warmup/staircase/java/*.java
!/skills/algorithms/warmup/time_conversion/java/*.java

!/skills/algorithms/implementation/easy/append_and_delete/cpp/*.cpp
!/skills/algorithms/implementation/easy/apple_and_orange/java/*.java
!/skills/algorithms/implementation/easy/between_two_sets/cpp/*.cpp
!/skills/algorithms/implementation/easy/grading_students/java/*.java
!/skills/algorithms/implementation/easy/halloween_sale/cpp/*.cpp
!/skills/algorithms/implementation/easy/kangaroo/cpp/*.cpp
!/skills/algorithms/implementation/easy/kangaroo/java/*.java
!/skills/algorithms/implementation/easy/save_the_prisoner/cpp/*.cpp
